@import "colors";

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  flex-direction: column;
  align-items: center;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.mat-mdc-card {
  background-color: $card-white;
}

.logo-image {
  h2 {
    font-family: 'Sevillana';
    font-size: 3.5rem;
    color: wheat;
    margin-bottom: 0;
    margin-top: 0;
  }
}