
<div class="logo-image">
    <h2>One Stage</h2>
</div>
<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <p>
                <mat-form-field appearance="outline">
                    <input type="text" matInput placeholder="Username" formControlName="username">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <input type="password" matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </p>

            <p *ngIf="errorMsg" class="error">
                {{ errorMsg }}
            </p>
            <div>
                <a href="#" (click)="goTo($event,'forgot-password')" >Forgot password?</a>
            </div>
            <div>
                <a href="#" (click)="goTo($event,'register')" >New User?</a>
            </div>

            <div class="button">
                <button type="submit"  mat-flat-button color="primary">Login</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>