<footer>
    <mat-toolbar class="toolbarNav">
        <button mat-flat-button routerLink="/top-artists" routerLinkActive="active-link" class="active" >
            <mat-icon class="material-icons color_blue material-icons-outlined" >
                home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-flat-button routerLink="/top-artists" routerLinkActive="active-link">
            <mat-icon class="material-icons color_blue">
                star_outlined</mat-icon>
            <span>Category</span>
        </button>
        <button mat-flat-button routerLink="/top-tracks" routerLinkActive="active-link">
            <mat-icon class="material-icons color_blue">favorite_outlined
            </mat-icon>
            <span>Favorites</span>
        </button>
        <button mat-flat-button routerLink="/history" routerLinkActive="active-link">
            <mat-icon class="material-icons color_blue">history</mat-icon>
            <span>History</span>
        </button>
    </mat-toolbar>
</footer>