@import "colors";

.article-tiles{
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
    padding: 5px;
}
.article-quick-link{
    
}
.favorite-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 10px;

    .favorites{
        display: flex;
        justify-content: space-between;
        width: 150px;
        border: 1px solid #c2bebe;
        border-radius: 5px;
        padding: 10px;
        background: $favorites-bookmark;
        .fav-name{
            margin-left: 10px;
        }

        .fav-logo-wrap{
            width: 50px;
            img{
                width: 100%;
            }
        }
    }
}
