<app-water-based-header title="Water Enterprice"/>
<mat-card (click)="goto('product-list')">
    <mat-card-content>
        <img src="/assets/svgs/water_bottle_large.svg">
        Order Water
    </mat-card-content>
</mat-card>
<mat-card >
    <mat-card-content>
        <mat-icon>
            support_agent
        </mat-icon>
        Call Agent
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <mat-icon>
            person_alert
        </mat-icon>
        Call delivery person
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <mat-icon>
            history
        </mat-icon>
        history
    </mat-card-content>
</mat-card>
<mat-card (click)="goto('profile')">
    <mat-card-content>
        <mat-icon>
            person_edit
        </mat-icon>
        Profile
    </mat-card-content>
</mat-card>